*{
    margin: 0;
    padding:0;
}  
body{
    background-color: red;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
  
  .container img {
    width: 100%;
    height: 100;
  }
  
  .container .btn {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: rgb(18, 231, 46);
    color: white;
  }

.gameContainer{
    background-image: url(sea.png);
    background-color: blue;
    background-size: 100vw 100vh;
    width:100%;
    height: 100vh;
}

.scoreCard{
    right:10px;
    font-size:25px;
    position:absolute;
    left:1500px;
}
.fish{
    background-image: url(fish.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 149px;
    height: 156px;
    position: absolute;
    bottom: 275px;
    right: 1600px;
    visibility:hidden;
}

.tort{
    background-image: url(shark.png);
    width: 275px;
    height: 194px;
    background-size: cover;
    position: absolute;
    bottom: 297px;
    left: 87vw;
}

.animateFish{
    animation: fish 1s linear; 
}

.animateTort{
    animation: tort 5s linear infinite;
}
.gameOver{
    position: relative;
    top:163px;
    font-size:53px;
    font-style: unset;
    text-align: center;
    text-decoration:antiquewhite ;
}
@keyframes fish{
    0%{
        bottom:300px;
    }
    50%{
        bottom: 700px;
    }
    100%{
        bottom: 300px;
    }
}

@keyframes tort{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}